

tr>td
{
    height: 120px;
    text-align: center;
}

body
{
    padding-top: 80px;
}

tr>th
{
}

.fa-glass
{
    color: #ff0000;
    width: 27px;
    height: 19px;
}

.list
{
    margin-top: 110px;
}

